@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: darkgreen;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: white;
}

#logo {
    margin: 20px;
    font-size: 300%;
    color: white;
    font-family: 'Righteous', cursive;
}

#menu {
    font-size: 135%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 250px;
}

#menu li {
    display: inline;
    margin: 20px;
}

.active {
    border-bottom: 2px solid white;
}