@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background-color: darkgreen;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: white;
}

#logo {
    margin: 20px;
    font-size: 300%;
    color: white;
    font-family: 'Righteous', cursive;
    padding-left: 250px;
}

#menu {
    font-size: 135%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 250px;
}

#menu li {
    display: inline;
    margin: 20px;
}

.active {
    border-bottom: 2px solid white;
}

/* MAIN */

main {
    display: block;
    min-height: 100vh;
    justify-content: space-between;
}

/* FOOTER */

footer {
    background-color: darkgreen;
}

.social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

footer i {
    color: white;
    font-size: xx-large;
}

/* NEWSLETTER FORM */

form {
    display: block;
}

.form {
    padding: 20px;
    width: 50%;
    margin: 10% auto;
}

input[type=text],
input[type=email],
input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
}

input[type=submit] {
    background-color: darkgreen;
    color: white;
}

input[type=submit]:hover {
    opacity: 0.7;
}

#join {
    margin-left: 17px;
    text-transform: uppercase;
}

/* ABOUT US PAGE */

#aboutus-pic {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

#pitch-pic {
    height: 450px;
    width: 100%;
}

.link-about {
    background-color: darkgreen;
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

.about-text {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 40px;
}

#game-pic {
    height: 450px;
    width: 100%;
    zoom: 37.5%;
}

/* HOME PAGE */

#hero {
    overflow: hidden;
}

#hero-image {
    height: 550px;
    width: 100%;
}

#startpage-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px;
}

/* COLLECTION PAGE */

#collection-title {
    text-align: center;
    margin-top: 40px;
}

#collection-first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 75px;
}

#kits>img {
    zoom: 15%;
    justify-content: space-between;
    border: 50px solid darkgreen;
}

/* Media queries - Responsive */

@media screen and (max-width: 1370px) {
    #logo {
        padding-left: 0px;
        font-size: 200%;
    }

    #menu {
        margin-right: 0px;
        font-size: 100%;
    }
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
        width: 100vw;
    }

    body {
        width: 100vw;
    }

    #menu {
        padding-bottom: 10px;
    }

    #menu li {
        margin: 5px;
    }

    #startpage-content {
        flex-direction: column;
    }

    footer {
        width: 100vw;
    }

    #location-open {
        padding-bottom: 20px;
    }

    #map-content {
        width: 80vw;
    }
}